# Environment
application/ParcelPilotApp/.env
application/ParcelPilotApp/.env.*

# Dependencies
application/ParcelPilotApp/node_modules/

# Build output
application/ParcelPilotApp/dist/
application/ParcelPilotApp/coverage/

# Editor
application/ParcelPilotApp/.vscode/

# Android
application/ParcelPilotApp/android/.gradle/
application/ParcelPilotApp/android/build/
application/ParcelPilotApp/android/app/build/

# iOS
application/ParcelPilotApp/ios/build/
